{{>admin-header}}
        <div class="dashboard-wrapper">
            {{!-- <div class="dashboard-ecommerce"> --}}
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <h2 class="pageheader-title">E-commerce Dashboard Template </h2>
                                <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus
                                    vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#"
                                                    class="breadcrumb-link">Dashboard</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">E-Commerce Dashboard
                                                Template</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    {{!-- <div class="ecommerce-widget"> --}}


                        <div class="row">
                            <!-- ============================================================== -->

                            <!-- ============================================================== -->

                            <!-- recent orders  -->
                            <!-- ============================================================== -->

                            <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12 col-12">
                                <form action="/editProduct" method="post" role="form" enctype="multipart/form-data" onsubmit="return productValidate()" name="products">
                                   
                                    <div class="mb-4 mt-5">
                                        <label for="exampleFormControlSelect1">Title</label>
                                        <input id="title" type="text" class="form-control mb-3" name="title" >

                                    </div>
                                    {{!-- <div class="mb-3"> --}}
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6">
                                                <label for="exampleFormControlSelect1">Price</label>
                                                <input id="price" type="text" class="form-control mb-4" name="price"
                                                    >
                                                <label for="exampleFormControlSelect1">Category</label>
                                                <select class="form-control" name="category"
                                                    id="exampleFormControlSelect1">
                                                    {{#each dbCategory}}
                                                    <option>{{name}}</option>
                                                    {{/each}}
                                                </select>
                                            </div>
                                            <div class="col-12 col-md-6 col-lg-6 ">
                                                <label for="exampleFormControlSelect1">Stock</label>
                                                <input id="stock" type="text" class="form-control mb-4" name="stock"
                                                     >
                                                <label for="exampleFormControlSelect1">Brand</label>
                                                <select class="form-control" name="brand"
                                                    id="exampleFormControlSelect1">
                                                    {{#each dbBrand}}
                                                    <option>{{name}}</option>
                                                    {{/each}}
                                                </select>

                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-md-6 col-lg-6 ">
                                                <div class="form-group mt-4">
                                                    <label for="exampleFormControlSelect1">sub category</label>
                                                    <select class="form-control" name="subcategory" id="subcategory">
                                                        {{#each dbSubcategory}}
                                                    <option>{{name}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <div class="col-12 col-md-6 col-lg-6 mt-3">
                                                <label for="exampleFormControlSelect1">upload images</label>
                                               
                                                        <input class="mt-5" type="file" name="image" id="image" multiple>
                                                    </div>
                                                    </div>
                                                   
                                        
                                             <div class="mb-4 mt-5">
                                        <label for="exampleFormControlSelect1">Product Id</label>
                                         <select class="form-control" name="productindex"
                                                        id="subcategory">
                                        <option selected>{{editId}}</option>

                                    </div>

                                        <div class="form-group mt-2">
                                            <label for="exampleFormControlSelect1">Description</label>
                                            <textarea name="description" class="form-control" id="description"
                                                rows="3"></textarea>
                                        </div>


                                        <div class="container">
                                            <div class="row">
                                                <div id="error-message" class="d-flex justify-content-center">
                                                    <a href="" id="error-message"></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="container mt-5">
                                            <div class="row">
                                                <div class="d-flex justify-content-center">
                                                    <button type="submit" class="btn btn-dark text-right">
                                                        Upload details
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <!-- jquery 3.3.1 -->

                   

                 
</body>

</html>