<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Muhamad Nauval Azhar">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="This is a login page template based on Bootstrap 5">
	<title>Bootstrap 5 Login Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/login.css">
</head>

<body>

   	<div>
    <div class="wrapper">
        <div class="container main">
            <div class="row">
                <div class="col-md-6 side-image">


                    <div class="text ">
                        <p class="d-none d-md-block" style="text-stroke: 0.3px black; -webkit-text-stroke: 0.3px black;">"Fashion is the armor to survive the reality of everyday life." <i> — Bill Cunningham</i></p>
                    </div>
                </div>
                <div class="col-md-6 right">
                    <div class="input-box">
                        <header>Forgot Password</header>
                        <form name="forgotpass" action="/otpforgotcheck" method="post" class="p-3">
                        <div class="input-field">
                            <input id="otp" type="text" class="input" name="email" value="" required autofocus>
                            <label for="email">Email</label>
                        </div>
                        
                        <p id="err" class="text-danger">{{forgotMsg}}</p>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Request OTP ">

                        </div>
                        </form>
                        
                        <div class="signin">
                            
                            <span>Don't have an account? <a href="/signup">Sign up here</a></span><br>
                            <a href="/" class="mb-2 text-center">Home</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

	

	{{!-- <script src="js/login.js"></script> --}}
</body>
<script>
    const form = document.querySelector('form[name="forgotpass"]');

form.addEventListener('submit', (event) => {
  event.preventDefault();

  const emailInput = form.elements.email;
  const emailValue = emailInput.value.trim();

  // Check if email field is empty
  if (emailValue === '') {
    document.querySelector('#err').textContent = 'Please enter your email address';
    return;
  }

  // Check if email is valid
  const emailRegex = /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/;
  if (!emailRegex.test(emailValue)) {
    document.querySelector('#err').textContent = 'Please enter a valid email address';
    return;
  }

  // Submit the form if all validations pass
  form.submit();
});

</script>
</html>
